<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Spring Security Basic Demo (XML)</title>
</head>
<body>
	<div align="center">
		<h1>I am the Champion</h1>
		<a href="/admin">Go to Administrator Page</a>
	</div>
	<div align="center">
		<h1>Champion of the World</h1>
		<a href="/welcome/Shiva">Go to Welcome Page</a>
	</div>
	<div align="center">
		<h1>Champion of Champions</h1>
		<a href="/employee">Go to Employee Page</a>
	</div>
	<div align="center">
		<h1>Enter Kit Ownership Info</h1>
		<a href="/test">Go to Kit Ownership Page</a>
	</div>
</body>
</html>